@import "settings/mixins";

footer {
	position: absolute;
	@include dimen(100%, 100px);
	background-color: #323232;
	display: inline-flex !important;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
}

.footer {
	&-logo {
		background: url('../img/sprite/HireTest-sprite.png') no-repeat -200px -99px;
		@include dimen(153px, 36px);
		margin-right: 40%;
	}

	&-txt {
		@include flex(center, column);

		ul {
			display: inline-flex;
			padding: 0 0 5px 0;
			list-style: none;
		}

		li {
			padding: 0 23px;
		}

		p {
			font-size: 9px;
			color: white;
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}
