@import "settings/mixins";

#index-header {
	@include dimen(100%, 550px);
	background: url('../img/page-1/01-slider-image.jpg') no-repeat;
	background-size: cover;
	border-bottom: 1px solid #e30013;
}

.header {
	&-slider {
		max-width: 50%;
		height: 550px;
		float: right;
		@include flex(center, row);
		background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#007db9e8', GradientType=1); /* IE6-9 */
	}

	&-txt {
		max-width: 100%;
		vertical-align: middle;
		text-align: left;

		h1 {
			max-width: 600px;
			font-size: 4em;
		}

		p {
			max-width: 350px;
			padding-bottom: 30px;
		}

		button {
			@include dimen(200px, 35px);
			width: 200px;
			height: 35px;
			background-color: #e30013;
			border: none;
			color: white;
		}
	}
}

.red {
	color: #e30013;
}

.slick {
	&-dots {
		display: inline-flex;
		padding: 40px 0 30px 50px;
		list-style: none;

		li {
			margin: 0 5px;
		}

		button {
			@include button(20px, 20px, white, 1px solid red, null);
			border-radius: 50%;
			font-size: 0;
		}
	}

	&-slide {
		padding: 20px 50px 0 50px;
		min-height: 500px;
	}

	&-active {
		button {
			background-color: red;
		}
	}
}

#filter-header {
	@include dimen(100%, 500px);
}

.header {
	&-content {
		width: 60%;
		margin: 0 auto;
		@include flex(flex-start, column);
		align-items: flex-start;
		padding: 20px 0;

		span {
			font-size: .8em;
			color: gray;
		}

		h1 {
			font-size: 3em;
			margin: 0;
		}

		p {
			max-width: 900px;
			width: 100%;
			font-size: 1.1em;
			padding-left: 80px;
		}

		img {
			width: 100%;
		}
	}
}

.filters {
	margin-top: 30px;
	width: 100%;
	@include flex(center, row);
	border-top: 1px solid #e5e5e5;
	padding-bottom: 20px;

	&-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 60%;
	}

	.susp {
		display: flex;
		flex-direction: column;
		border-right: 1px solid #e5e5e5;

		h1 {
			margin: 0 0 20px 0;
			padding-left: 40px;
		}

		ul {
			columns: 150px 3;
			max-width: 500px;
			padding-top: 0;
		}
	}

	.vest {
		display: flex;
		flex-direction: column;

		h1 {
			margin: 20px 0 0 0;
			padding-left: 30px;
		}

		ul {
			display: inline-flex;
			padding: 0;
		}

		li {
			padding: 0 20px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;

			label {
				padding: 10px 0;
			}
		}

		div {
			display: flex;
			justify-content: center;
		}
	}

	div {
		display: inline-flex;
	}

	li {
		list-style: none;
		padding: 5px 0;
	}

	&-bg- {
		&1 {
			@include filter(-400px, 0);
		}

		&2 {
			@include filter(-400px, -100px);
		}

		&3 {
			@include filter(-400px, -200px);
		}

		&4 {
			@include filter(-400px, -300px);
		}

		&5 {
			@include filter(-400px, -400px);
		}

		&6 {
			@include filter(-400px, -500px);
		}

		&7 {
			@include filter(-400px, -600px);
		}

		&8 {
			@include filter(-400px, -700px);
		}

		&9 {
			@include filter(-400px, -800px);
		}

		&10 {
			@include filter(-400px, -900px);
		}

		&11 {
			@include filter(-400px, -1000px);
		}

		&12 {
			@include filter(-400px, -1100px);
		}

		&13 {
			@include filter-adv(0, -600px, 46px, 73px);
		}

		&14 {
			@include filter-adv(-100px, -700px, 79px, 73px);
		}

		&15 {
			@include filter-adv(-100px, -800px, 46px, 93px);
		}

		&16 {
			@include filter-adv(-100px, -900px, 66px, 73px);
		}
	}
}
