@import "settings/mixins";

nav {
	@include dimen(100%, 100px);
	background-color: white;
	position: fixed;
	z-index: 9999;
	top: 0;
	padding: 0;
	text-align: center;
	-webkit-box-shadow: 0 4px 10px -6px #999;
	   -moz-box-shadow: 0 4px 10px -6px #999;
	        box-shadow: 0 4px 10px -6px #999;

	li {
		display: inline-block;
		padding: 10px 10px;
	}

	a {
		color: #979797;
		text-decoration: none;
		font-weight: 600;
	}
}

.nav {
	&-wrapper {
		display: inline-flex;
		padding: 32px;
	}

	&-logo {
		@include filter-adv(-200px, 0, 152px, 36px);
	}

	&-active {
		color: #e30013;
		border-bottom: 1px solid #e30013;
	}

	&-phone {
		display: flex;
		flex-direction: row;
		height: 36px;

		&__icn {
			width: 30px;
			height: 30px;
			background-color: #979797;
			border: 1px solid gray;
			margin: 0 10px 0 50px;
			font-family: "Hire-Test";
			font-size: 18px;
			color: white;
			line-height: 30px;

			img {
				margin-right: 10px;
				width: 20px;
				padding: 5px;
			}
		}

		&__container {
			@include flex(flex-start, column);

			div:nth-child(1) {
				font-weight: 600;
				padding-bottom: 2px;
			}

			div:nth-child(2) {
				font-size: 11px;
			}
		}
	}

	&-region {
		@include filter-adv(0, -200px, 24px, 24px);
		margin: 5px 0 0 80px;
	}

	&-bottom {
		@include dimen(100%, 100px);
		position: fixed;
		display: none;
		bottom: 0;
		background-color: white;
		justify-content: center;
		align-items: center;

		p {
			font-family: "Hire-Test";
			font-size: 40px;
		}
		ul {
			display: inline-flex;
			text-align: center;
		}

		li {
			padding: 0 20px;
		}
		a {
			color: black;
			text-decoration: none;
		}
	}
}

.dropdown {
	padding: 0 50px 0 1px;
	display: flex;

	&-arrow {
		@include filter-adv(0, 0, 36px, 36px);
		margin: 0 1px 0 50px;
	}

	&-button {
		@include button(170px, 36px, #e30013, none, white);
		cursor: pointer;
		font-weight: 600;
	}

	&-content {
		display: none;
		position: absolute;
		background-color: #e30013;
		border-top: 1px solid white;
		margin: 36px 0 0 50px;
		min-width: 206px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
		z-index: 1;

		a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			color: white;

			&:hover {
				background-color: #e30013;
			}
		}

		ul {
			display: block;
			padding: 0;
		}

		li {
			display: block;
			padding: 0;

			a {
				@include flex(flex-start, row);
				&:hover {
					background-color: white;
					color: black;
				}
				p {
					font-family: "Hire-Test";
					font-size: 30px;
					padding-right: 40px;
				}
			}


		}
	}

	&:hover .dropbtn {
		background-color: white;
	}
}
.hamburger, .menu, .cross {
	display: none;
}

.dropdown:hover .dropdown-content {
	display: block;
}
