@import "settings/mixins";

.cta {
	&-content {
		@include dimen(100%, 500px);
		@include flex(center, column);
		background-image: url('../img/page-1/04-image.jpg');
		padding-bottom: 40px;
	}

	&-img {
		background: url('../img/sprite/HireTest-sprite.png') no-repeat -158px -158px;
		@include dimen(184px, 194px);
	}

	&-text {
		width: 600px;
		text-align: center;
		color: white;

		p {
			font-size: 55px;
			padding-bottom: 20px;
		}

		h3 {
			padding-bottom: 30px;
		}

		.cta-head {
			font-weight: 700;
		}

		button {
			@include button(200px, 36px, white, none, black);
		}
	}
}
