@import "settings/mixins";

.pelle {
	&-content {
		@include dimen(100%, 350px);
		background-color: #e6e6e6;
		@include flex(flex-end, row);

		.img {
			background-image: url('../img/page-1/03-image.png');
			background-repeat: no-repeat;
			@include dimen(50%, 350px);
			margin: 0;
		}
	}

	&-text {
		width: 500px;

		p {
			padding-bottom: 15px;
			text-align: justify;
		}

		a {
			color: #e30013;
		}
	}
}
