@import "settings/mixins";

#store-header {
	@include dimen(100%, 550px);
}

.store {
	&-container {
		@include dimen(100%, 300px);
		position: absolute;
		z-index: 1;
		background: rgba(255, 255, 255, 1);
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, .18) 87%, rgba(237, 237, 237, 0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(29%, rgba(255, 255, 255, 1)), color-stop(87%, rgba(255, 255, 255, .18)), color-stop(100%, rgba(237, 237, 237, 0)));
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, .18) 87%, rgba(237, 237, 237, 0) 100%);
		background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, .18) 87%, rgba(237, 237, 237, 0) 100%);
		background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, .18) 87%, rgba(237, 237, 237, 0) 100%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, .18) 87%, rgba(237, 237, 237, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
	}

	&-txt {
		width: 60%;
		padding: 20px 25%;
		@include flex(center, column);
		align-items: flex-start;

		span {
			color: gray;
		}

		h1 {
			margin: 0;
			font-size: 3em;
		}
	}

	&-cta {
		@include flex(center, column)
		padding-bottom: 40px;
		text-align: center;

		h1 {
			color: #e30013;
			margin: 0;
		}

		p {
			font-size: 1.2em;
			padding-bottom: 20px;
		}

		button {
			@include button(200px, 35px, #e30013, none, white);
		}
	}
}

.btn {
	&-container {
		@include flex(center, row);
		padding: 0 0 40px 0;
		//overflow-x: hidden;
		width: 100%;
		margin: 0 auto;

		button {
			@include button(110px, 30px, #e30013, none, white);
			font-size: 13px;
			cursor: pointer;
			margin: 5px 5px;
		}
		input {
			display: none;
			&:checked + span {
				background-color: #E30013;
			}
		}
		span {
			padding: 5px 15px;
		}
		label {
			font-weight: 600;
			font-size: .9em;
			width: 120px;
			height: 30px;
			background-color: #D3D3D3;
			padding: 5px 0;
			color: white;
		}
	}

	&-store {
		button {
			&:nth-child(2) {
				background-color: #d3d3d3;
			}

			&:nth-child(3) {
				background-color: #d3d3d3;
			}
		}
	}

	&-loc {
		padding-right: 40px;
	}
}

#table {
	@include flex(center, column);
	padding-bottom: 40px;
}

table {
	overflow-x: auto;
	font-size: 14px;
	border-collapse: collapse;

	th {
		border-bottom: 1px solid #757575;
		width: 8.6%;
	}

	td {
		width: 20%;
		border-bottom: 1px solid #ececec;
		padding: 10px 0;
	}

	tr {
		&:hover {
			background-color: #ececec;
		}

		td {
			&:nth-child(4) {
				text-align: right;
			}
		}
	}
	th {
		padding-bottom: 5px;

		&:nth-child(1) {
			text-align: left;
		}

		&:nth-child(2) {
			text-align: left;
		}

		&:nth-child(3) {
			text-align: left;
		}

		&:nth-child(4) {
			text-align: right;
		}
	}
}

#map {
	position: relative;
	@include dimen(100%, 500px);
}
