@import "settings/variables";
@import "settings/mixins";

.sub {
	&-header {
		height: 315px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 60px 0 30px 0;
		border-bottom: 1px solid #e30013;

		img {
			margin: 0 100px;
		}
	}

	&-text {
		width: 500px;

		h1 {
			font-size: $font-heading;
		}

		h3 {
			padding-bottom: 15px;
		}

		p {
			font-size: 15px;
			line-height: 1.4;
			padding-bottom: 15px;
			text-align: justify;
		}

		a {
			color: #e30013;
		}
	}
}
