@media screen and (max-width: 1080px) {
	body {
		margin: 0 0 230px 0 !important;
	}

	.nav {
		&-logo {
			width: 200px;
		}

		&-bottom {
			display: inline-flex;

			ul {
				padding: 0;
			}

			li {
				list-style: none;
			}
		}

		&-phone {
			display: none;
		}

		&-region {
			margin: 5px 0 0 20px;
		}
	}

	footer {
		bottom: 100px;
	}

	.dropdown {
		display: none;
	}

	header {
		background-size: cover !important;
		height: auto !important;
	}

	.header {
		&-slider {
			max-width: 100%;
			height: auto;
			float: none;
		}

		&-content {
			width: 90%;

			p {
				padding-left: 0;
			}
		}
	}

	.slick {
		&-slide {
			padding: 20px 45px 45px 45px;

			h1 {
				font-size: 30px;
			}
		}

		&-dots {
			display: none !important;
		}
	}

	.sub {
		&-header {
			height: auto;
			flex-direction: column;

			img {
				margin: 0;
			}
		}

		&-text {
			width: 100%;
			text-align: center;

			p {
				padding: 0 20px 20px 20px;
			}

			a {
			}
		}
	}

	.pelle {
		&-content {
			.img {
				display: none;
			}
		}

		&-text {
			width: 100%;
			text-align: center;

			h3 {
				padding: 0 20px 20px 20px;
			}

			p {
				padding: 0 20px 20px 20px;
			}
		}
	}

	.cta {
		&-text {
			width: 100%;

			h3 {
				padding: 0 20px 30px 20px;
			}
		}
	}

	#filter-header {
		img {
			width: 100%;
			height: 200px;
			background-size: cover;
		}
	}

	.filters {
		flex-direction: column;

		.susp {
			border: none;
		}
	}

	.doors {
		flex-direction: column;
		height: auto;
	}

	footer {
		height: auto;
		padding: 20px 0;
		flex-direction: column;
	}

	.footer {
		&-logo {
			margin-right: 0;
			padding-bottom: 10px;
		}

		&-txt {
			padding-top: 10px;
		}
	}

	.hamburger {
		display: block;
		background: none;
		top: 0;
		padding: 5px 0 20px 0;
		color: #999;
		border: 0;
		font-size: 1.4em;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		z-index: 10000000000000;
	}

	.cross {
		display: block;
		background: none;
		color: #999;
		border: 0;
		font-size: 3em;
		line-height: 65px;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		z-index: 10000000000000;
	}

	.menu {
		&-desktop {
			display: none;
		}
		display: block;
		z-index: 1000000;
		font-weight: bold;
		font-size: .8em;
		width: 100%;
		background: #f1f1f1;
		position: absolute;
		left: 0;
		right: 0;
		top: 100px;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			list-style-image: none;
		}

		li {
			display: block;
			padding: 15px 0 15px 0;
			border-bottom: 1px solid #ddd;

			&:hover {
				display: block;
				background: #fff;
				padding: 15px 0 15px 0;
				border-bottom: 1px solid #ddd;
			}
		}

		ul li a {
			text-decoration: none;
			margin: 0;
			color: #666;

			&:hover {
				color: #666;
				text-decoration: none;
			}
		}

		a {
			text-decoration: none;
			color: #666;

			&:hover {
				text-decoration: none;
				color: #666;
			}
		}
	}

	.glyphicon-home {
		color: white;
		font-size: 1.5em;
		margin-top: 5px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 700px) {
	.slick {
		&-slide {
			text-align: center !important;
		}
	}

	.filters {
		.susp {
			width: 100%;

			li {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			ul {
				columns: 100px 2;
			}
		}

		.vest {
			width: 100%;

			ul {
				display: block;
			}

			li {
				padding: 0 20px;
			}
		}
	}
	.btn {
		&-container {
			label {
				width: auto;
				height: auto;
				margin-bottom: 10px;
			}
		}
		&-loc {
			padding-right: 20px;
			@include flex(center, column);
		}
		&-store {
			padding-right: 0;
			@include flex(center, column);
		}
	}
}
