@mixin dimen($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($justify, $direction) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: center;
}

@mixin button($width, $height, $bg-color, $border, $font-color) {
  width: $width;
  height: $height;
  background-color: $bg-color;
  border: $border;
  color: $font-color;
}

@mixin filter($pos-x, $pos-y) {
  background: url('../img/sprite/HireTest-sprite.png') no-repeat $pos-x $pos-y;
  width: 60px;
  height: 16px;
}

@mixin filter-adv($pos-x, $pos-y, $width, $height) {
  background: url('../img/sprite/HireTest-sprite.png') no-repeat $pos-x $pos-y;
  width: $width;
  height: $height;
}
