@font-face{
	font-family: 'Hire-Test';
	src: url('../fonts/hire-test.eot');
	src: url('../fonts/hire-test.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hire-test.woff') format('woff'),
	     url('../fonts/hire-test.ttf') format('truetype'),
	     url('../fonts/hire-test.svg#webfont') format('svg');
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

body {
	font-family: 'Titillium Web';
}
h1 {
	padding-bottom: 15px !important;
}


h3 {
	padding-bottom: 15px;
}

p {
	//font-family: 'Titillium Web' !important;
	line-height: 1.4 !important;
}

a {
	//font-family: 'Titillium Web' !important;
}

button {
	//font-family: 'Titillium Web' !important;
	font-weight: 600 !important;
}
