// ---------------------------------------------------------
//    Place your unclassed HTML elements (type selectors) here.
// ---------------------------------------------------------
@import "fonts";
* {
  margin: 0;
}
html {
  position: relative;
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0 0 100px !important;
  width: 100%;
  padding-top: 100px !important;
  overflow-x: hidden;
}
